<meta name="author" content="Eva Peng">
<link rel="stylesheet" href="css/materialize.css" type="text/css">
<%#= image_tag 'bridge.png' %>
<div style="position: absolute; top:380px; left: 100px; width: 80%; color: #0000;">
<b> Urban Analytics </b>
<p>(Over 7.800 vehicles use the Greenfield Bridge each day. Additions to the bridge include:    On side moving toward Greenfield:   <br> New additions including 10 foot wide sidewalk, 14 foot wide shared traffic and bike lane, and second 11-foot traffic lane.  Side approaching the park:    11 foot wide vehicle and a 5 foot wide bike lane Information: About 7,800 vehicles use the bridge each dayClassification: Community ArterialLimits: Pocusset Drive to Alger StreetLength: 466' total length; 274' main span (Existing Bridge)Width: 30' of roadway curb to curb; two 6'7" sidewalks (Existing Bridge)Location: City of Pittsburgh, Squirrel Hill Area spanning I-376 (Parkway East) near Squirrel Hill Tunnels
)</p>
</div>


<div>
<img class="image_norm"/>
<img class="image"/>
</div>
