<!DOCTYPE html>
<meta charset="utf-8">
<style>

path.neighborhood {
    fill: none;
    stroke: black;
}

.tweet{
    stroke: black;
}
#arbitrary_query_box {
    float:left;
}
textarea#query {
    width:300px;
    height:50px;
}

</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>

<div id="arbitrary_query_box">
    <textarea id="query">{}</textarea> <br/>
    <button id="run_query">Run Query</button>
</div>
<div id="date">
    <div>
        Start date: <input type="text" id="startDate">
    </div>
    <div>
        End date: <input type="text" id="endDate">
    </div>
    <div>
        Bounding box (click map to choose top left and bottom right): <span id="topLeftCoords">(not selected)</span> to <span id="bottomRightCoords">(not selected)</span>
    </div>
    <div>
        <button id="user_centroid_query">Only users with centroid within box</button>
        <button id="user_here_once_query">Only users who have tweeted in the box at least once</button>
    </div>
    <div>
        Tweet Limit (0 for no limit):<input type="number" id="limit" value="1000" min="1">
        Tweets per user limit:<input type="number" id="per_user_limit" value="10" min="1">
    </div>
    <div>
        <input type="radio" name="whichCollection" id="useTweets" checked>All Tweets</input>
        <input type="radio" name="whichCollection" id="useFoursquare">Only Foursquare checkin tweets</input>
    </div>

</div>

<svg id="mainSvg"></svg>

<script>
$("#startDate").datepicker();
$("#endDate").datepicker();
$("#run_query").click(function() {
    runQuery();
});
$("#user_centroid_query").click(function() {
    userCentroidQuery();
});
$("#user_here_once_query").click(function() {
    userHereOnceQuery();
});
$("#mainSvg").click(function(clickEvent) {
    storeBoundingBoxPoint(clickEvent.offsetX, clickEvent.offsetY);
    // there's offsetX/Y, clientX/Y, screenX/Y, pageX/Y
    // client and screen = where you are on your monitor
    // offset looks like it's relative to the SVG
    // and I'm guessing page is relative to the page
});
</script>
<script src="static/main.js"></script>
<script>
loadNeighborhoods();
update();
</script>

</body>
