<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
</head>
<body>
 
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Time of Day</a></li>
    <li><a href="#tabs-2">Weather</a></li>
    <li><a href="#tabs-3">Demographic</a></li>
    <li><a href="#tabs-4">Statistics </a></li>
  </ul>
  <div id="tabs-1">
    <p><%= render partial: 'graph_time' %></p>
  </div>
  <div id="tabs-2">
    <p><%= render partial: 'weather' %></p>
  </div>
  <div id="tabs-3">
        <p><%= render partial: 'demographic',locals: {total_locals: total_locals, total_visitors: total_visitors}%></p>
  </div>
  <div id = "tabs-4">
        <p> <%= render :partial => 'history' %> </p>
  </div>
</div>
 
 
</body>
</html>