<!DOCTYPE html>
<meta charset="utf-8">
<style>

path.neighborhood {
    fill: none;
    stroke: black;
}
.user{
    stroke:black;
    fill:red;
}
.tweet{
    stroke: black;
}
#loading {
    display:none;
}

</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<body>
<!-- load scripts from CDNs if available, with fall back to local if not -->
<!-- load .min.js files if they have .min.map files attached -->
<script src="static/lib/underscore-min.js"></script>
<script src="static/lib/backbone-min.js"></script>

<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script>window.jQuery || document.write('<script src="static/lib/jquery-2.1.0.min.js">\x3C/script>')</script>
<!-- TODO: switch to .min.js files before deploying -->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>window.jQuery.ui || document.write('<script src="static/lib/jquery-ui-1.10.4.js">\x3C/script>')</script>

<!-- TODO: switch to .min.js files before deploying -->
<script src="http://d3js.org/d3.v3.js"></script>
<script>window.d3 || document.write('<script src="static/lib/d3.v3.js">\x3C/script>')</script>
<script src="http://d3js.org/topojson.v1.js"></script>
<script>window.topojson || document.write('<script src="static/lib/topojson.v1.js">\x3C/script>')</script>

<div id="controls">
    <div>
        Click to choose the neighborhood you want: <span id="topLeftCoords">(not selected)</span>
    </div>
    <div>
        <img src="static/loading.gif" id="loading">
    </div>
    <div>
        <span id="status"></span>
    </div>

</div>

<svg id="mainSvg">
</svg>

<script>
$("#mainSvg").click(function(clickEvent) {
    storePoint(clickEvent.offsetX, clickEvent.offsetY);
    // there's offsetX/Y, clientX/Y, screenX/Y, pageX/Y
    // client and screen = where you are on your monitor
    // offset looks like it's relative to the SVG
    // and I'm guessing page is relative to the page
});
</script>
<script src="static/main.js"></script>
<script>
loadNeighborhoods();
</script>

</body>
