<!DOCTYPE html>
<meta charset="utf-8">
<style>

path.neighborhood {
    fill: none;
    stroke: black;
}

.tweet{
    stroke: black;
}
#arbitrary_query_box {
    float:left;
}
textarea#query {
    width:300px;
    height:50px;
}
#loading {
    display:none;
}

</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<body>
<!-- load scripts from CDNs if available, with fall back to local if not -->
<!-- load .min.js files if they have .min.map files attached -->
<script src="static/lib/underscore-min.js"></script>
<script src="static/lib/backbone-min.js"></script>

<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<script>window.jQuery || document.write('<script src="static/lib/jquery-2.1.0.min.js">\x3C/script>')</script>
<!-- TODO: switch to .min.js files before deploying -->
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>window.jQuery.ui || document.write('<script src="static/lib/jquery-ui-1.10.4.js">\x3C/script>')</script>

<!-- TODO: switch to .min.js files before deploying -->
<script src="http://d3js.org/d3.v3.js"></script>
<script>window.d3 || document.write('<script src="static/lib/d3.v3.js">\x3C/script>')</script>
<script src="http://d3js.org/topojson.v1.js"></script>
<script>window.topojson || document.write('<script src="static/lib/topojson.v1.js">\x3C/script>')</script>

<div id="arbitrary_query_box">
    <textarea id="query">{}</textarea> <br/>
    <button id="run_query">Run Query</button>
</div>
<div id="controls">
    <div>
        Start date: <input type="text" id="startDate">
    </div>
    <div>
        End date: <input type="text" id="endDate">
    </div>
    <div>
        Start time of day:
        <select id="startTime">
            <option value="0">12:00am</option>
            <option value="1">1:00am</option>
            <option value="2">2:00am</option>
            <option value="3">3:00am</option>
            <option value="4">4:00am</option>
            <option value="5">5:00am</option>
            <option value="6">6:00am</option>
            <option value="7">7:00am</option>
            <option value="8">8:00am</option>
            <option value="9">9:00am</option>
            <option value="10">10:00am</option>
            <option value="11">11:00am</option>
            <option value="12">12:00pm</option>
            <option value="13">1:00pm</option>
            <option value="14">2:00pm</option>
            <option value="15">3:00pm</option>
            <option value="16">4:00pm</option>
            <option value="17">5:00pm</option>
            <option value="18">6:00pm</option>
            <option value="19">7:00pm</option>
            <option value="20">8:00pm</option>
            <option value="21">9:00pm</option>
            <option value="22">10:00pm</option>
            <option value="23">11:00pm</option>
        </select>
        End time of day:
        <select id="endTime">
            <option value="0">12:00am</option>
            <option value="1">1:00am</option>
            <option value="2">2:00am</option>
            <option value="3">3:00am</option>
            <option value="4">4:00am</option>
            <option value="5">5:00am</option>
            <option value="6">6:00am</option>
            <option value="7">7:00am</option>
            <option value="8">8:00am</option>
            <option value="9">9:00am</option>
            <option value="10">10:00am</option>
            <option value="11">11:00am</option>
            <option value="12">12:00pm</option>
            <option value="13">1:00pm</option>
            <option value="14">2:00pm</option>
            <option value="15">3:00pm</option>
            <option value="16">4:00pm</option>
            <option value="17">5:00pm</option>
            <option value="18">6:00pm</option>
            <option value="19">7:00pm</option>
            <option value="20">8:00pm</option>
            <option value="21">9:00pm</option>
            <option value="22">10:00pm</option>
            <option value="23" selected>11:00pm</option>
        </select>
    <div>
        Bounding box (click map to choose top left and bottom right): <span id="topLeftCoords">(not selected)</span> to <span id="bottomRightCoords">(not selected)</span>
    </div>
    <div>
        <button id="user_centroid_query">Only users with centroid within box</button>
        <button id="user_here_once_query">Only users who have tweeted in the box at least once</button>
        <button id="bunch_of_tweets_query">Just get some tweets</button>
        <button id="select_tweets_to_show">Select tweets to show</button>
        <button id="update">Update</button>
        <img src="static/loading.gif" id="loading">
    </div>
    <div>
        Tweets from server limit:<input type="number" id="server_limit" value="10000" min="1">
        Tweets per user limit:<input type="number" id="per_user_limit" value="10" min="1">
        Display limit:<input type="number" id="display_limit" value="1000" min="1">
    </div>
    <div>
        <input type="radio" name="whichCollection" id="useTweets" checked>All Tweets</input>
        <input type="radio" name="whichCollection" id="useFoursquare">Only Foursquare checkin tweets</input>
    </div>

</div>

<svg id="mainSvg">
<rect id="select_box" x="0" y="0" width="0" height="0" fill="red"></svg>
</svg>

<script>
$("#startDate").datepicker();
$("#endDate").datepicker();
$("#run_query").click(function() {
    PublicModule.runQuery();
});
$("#user_centroid_query").click(function() {
    PublicModule.userCentroidQuery();
});
$("#user_here_once_query").click(function() {
    PublicModule.userHereOnceQuery();
});
$("#bunch_of_tweets_query").click(function() {
    PublicModule.getBunchOfTweets();
});
$("#select_tweets_to_show").click(function() {
    PublicModule.selectTweetsToShow();
});
$("#update").click(function() {
    PublicModule.update();
});
$("#mainSvg").click(function(clickEvent) {
    PublicModule.storeBoundingBoxPoint(clickEvent.offsetX, clickEvent.offsetY);
    // there's offsetX/Y, clientX/Y, screenX/Y, pageX/Y
    // client and screen = where you are on your monitor
    // offset looks like it's relative to the SVG
    // and I'm guessing page is relative to the page
});
</script>
<script src="static/main.js"></script>
<script>
PublicModule.loadNeighborhoods();
</script>

</body>
